In [62]:
import pandas as pd
import numpy as pd

excel_file= 'C:\\Users\\Admin\\Downloads\\movies.xls'
movies=pd.read_excel(excel_file)

movies[(movies['IMDB Score']>8) & (movies['Duration']>200)]
movies['New']=movies['Year']*2
movies

AttributeError: module 'numpy' has no attribute 'read_excel'

In [65]:
import numpy as np
movies['Pass']=np.where(movies['IMDB Score']>8,'qua','lose')
movies

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,New,Pass
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,9.0,481,691,1,10718,88,69.0,8.0,3832,lose
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,0.0,4,0,1,5,1,1.0,4.8,3840,lose
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,6.0,108,226,0,4849,45,48.0,8.3,3850,qua
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,18.0,203,12000,1,111841,413,260.0,8.3,3854,qua
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,3.0,455,926,1,7431,84,71.0,8.0,3858,lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,482.0,3166,180,0,3479,87,54.0,7.3,3998,lose
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,485.0,4024,401,0,24216,162,75.0,4.1,3998,lose
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,35.0,23369,0,0,35312,267,67.0,6.4,3998,lose
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,582.0,15870,0,2,129601,648,85.0,4.8,3998,lose
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,362.0,2497,858,3,14747,338,85.0,4.1,3998,lose

In [17]:
movies.tail(5)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,980,505,482.0,3166,180,0,3479,87,54.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,2000,577,485.0,4024,401,0,24216,162,75.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,23000,255,35.0,23369,0,0,35312,267,67.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,10000,4000,582.0,15870,0,2,129601,648,85.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,811,586,362.0,2497,858,3,14747,338,85.0,4.1

In [36]:
movies[(movies['Genres']=='Drama') & (movies['Content Rating']=='Approved')]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
74,Elmer Gantry,1960,Drama,English,USA,Approved,146,1.66,3000000.0,NaN,...,556,422,125.0,1444,808,1,7998,81,42.0,7.9
94,Hud,1963,Drama,English,USA,Approved,112,2.35,2500000.0,NaN,...,617,189,124.0,1141,1000,0,15277,120,65.0,7.9

In [50]:
a=movies[(movies['Year']==1990)&(movies['IMDB Score']>8)]

In [57]:
 movies['New']=movies['Year']*2
 movies['New']

0       3832
1       3840
2       3850
3       3854
4       3858
        ...
1333    3998
1334    3998
1335    3998
1336    3998
1337    3998
Name: New, Length: 1338, dtype: int64