In [29]:
import pandas as pd

excel_file= 'C:\\Users\\Admin\\Downloads\\movies.xls'
movies=pd.read_excel(excel_file)

movies[(movies['IMDB Score']>8) & (movies['Duration']>200)]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
18,Gone with the Wind,1939,Drama|History|Romance|War,English,USA,G,226,1.37,3977000.0,198655278.0,...,503,384,248.0,1862,16000,1,215340,706,157.0,8.2
61,Seven Samurai,1954,Action|Adventure|Drama,Japanese,Japan,Unrated,202,1.37,2000000.0,269061.0,...,304,8,4.0,338,11000,6,229012,596,153.0,8.7
83,Lawrence of Arabia,1962,Adventure|Biography|Drama|History|War,English,UK,PG,227,2.20,15000000.0,6000000.0,...,607,202,87.0,1076,11000,8,192775,559,181.0,8.4
158,Woodstock,1970,Documentary|History|Music,English,USA,R,215,2.20,600000.0,13300000.0,...,262,227,136.0,778,0,0,12631,63,53.0,8.1
192,The Godfather: Part II,1974,Crime|Drama,English,USA,R,220,1.85,13000000.0,57300000.0,...,22000,14000,3000.0,39960,14000,1,790926,650,149.0,9.0
248,Apocalypse Now,1979,Drama|War,English,USA,R,289,2.35,31500000.0,78800000.0,...,11000,10000,3000.0,25313,19000,1,450676,983,261.0,8.5
287,Das Boot,1981,Adventure|Drama|Thriller|War,German,West Germany,R,293,1.85,14000000.0,11433134.0,...,362,21,18.0,469,11000,0,168203,426,96.0,8.4
334,Gandhi,1982,Biography|Drama|History,English,UK,PG,240,2.35,22000000.0,NaN,...,545,429,249.0,1943,12000,0,171726,256,95.0,8.1
385,Once Upon a Time in America,1984,Crime|Drama,English,Italy,R,251,1.85,30000000.0,5300000.0,...,22000,683,642.0,24719,12000,8,221000,495,111.0,8.4

In [17]:
movies.tail(5)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,980,505,482.0,3166,180,0,3479,87,54.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,2000,577,485.0,4024,401,0,24216,162,75.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,23000,255,35.0,23369,0,0,35312,267,67.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,10000,4000,582.0,15870,0,2,129601,648,85.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,811,586,362.0,2497,858,3,14747,338,85.0,4.1

In [36]:
movies[(movies['Genres']=='Drama') & (movies['Content Rating']=='Approved')]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
74,Elmer Gantry,1960,Drama,English,USA,Approved,146,1.66,3000000.0,NaN,...,556,422,125.0,1444,808,1,7998,81,42.0,7.9
94,Hud,1963,Drama,English,USA,Approved,112,2.35,2500000.0,NaN,...,617,189,124.0,1141,1000,0,15277,120,65.0,7.9

In [43]:
movies[(movies['Year']==1990)&(movies['IMDB Score']>8)]

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
562,Goodfellas,1990,Biography|Crime|Drama,English,USA,R,146,1.85,25000000.0,46836394.0,...,22000,854,635.0,24783,25000,3,728685,989,192.0,8.7